/* This file only contains media queries */
@media (min-width: 768px) {
  /* Desktop navigation */
  #menu-button {
    display: none;
  }
  
  nav ul {
    flex-direction: row;
  }

  /* 2-column grid */
  .course-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  /* 3-column grid */
  .course-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
  /* Larger typography */
  h1 { font-size: calc(var(--heading-scale) * 2.5rem); }
}

@media (min-width: 1200px) {
  /* 4-column grid */
  .course-container {
    grid-template-columns: repeat(4, 1fr);
  }
}